body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
  }

  a {
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: #843d11;
    text-decoration: solid;
    transition: color 0.3s ease-in-out;
  }

  a:hover {
    color: #007bff;
  }
  
  .logo {
    font-size: 2em;
  }
  
  main {
    padding: 50px;
  }
  
  .signup-form {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  footer {
    color: azure;
    text-align: center;
    padding: 10px;
    background-color: #383737;
  }
  