body {
    background-image: url('images/Home/Singapore2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  h1 {
    font-size: 2em;
    color: rgb(0, 0, 11);
  }
  
  p {
    font-size: 20px;
    color: rgb(252, 245, 245);
  }

  section {
    border: 3px solid #ddd;  /* Sets a solid border 1px wide in light gray color (#ddd) */
    padding: 40px;          /* Adds some padding inside the border for better spacing */
  }
  
  
  