body {
    background-image: url('images/Home/Home2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  }
  
  h1 {
    font-size: 3em;
    color: rgb(7, 7, 7);
  }

  
  
  section {
    border: 3px solid #060000;  /* Sets a solid border 1px wide in light gray color (#ddd) */
    padding: 2%;          /* Adds some padding inside the border for better spacing */
  }

  h2 {
    color: rgb(6, 6, 6);
  }

  .icon-placeholder {
    width: 90px;  /* Adjust width as needed */
    height: 90px; /* Adjust height as needed */
    border-radius: 50%;
  }

 
  
  

  
  
    
   
  
  
  